h1 {
    color: blue;
}
body {
    background-color: purple;
}
.topnav {
  overflow: hidden;
  background-color: #00BFFF;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #FF83FA;
  color: white;
}

.column {
  float: left;
  width: 29%;
  padding: 10px ;
  font-size: .9em;
  font-family: 'Open Sans', sans-serif;
  overflow: auto;
  margin-top: 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}